  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
    <h2>{{title}}</h2>
     {{#author}}
     <form>
     <div class="row">
      <div class="six columns">
       <label for="nameInput">name</label>
       <input class="u-full-width" type="text" 
         {{#show}} readonly {{/show}}
         id="name"  name="name" value="{{name}}">
      </div>
      <div class="six columns">
       <label for="degreeInput">nationality</label>
       <input class="u-full-width" type="text"
          {{#show}} readonly {{/show}}
          id="nationality" name="nationality" value="{{nationality}}">
      </div>
     </div>
     <div class="row">
      <div class="six columns">
       <label for="emailInput">birth</label>
       <input class="u-full-width" type="text"
          {{#show}} readonly {{/show}}
          id="birth" name="birth" value="{{birth}}">
      </div>
      <div class="six columns">
       <label for="phoneInput">fields</label>
       <input class="u-full-width" type="text"
         {{#show}} readonly {{/show}}
         id="fields" name="fields" value="{{fields}}">
      </div>
      <a class="button button-primary" href="/author"
	    data-navigo>Back</a>
     {{#edit}}
	   <a class="button button-primary" style="float: right" 
	     data-navigo href="/author/update/{{id}}">Update</a>
	 {{/edit}}
     {{#create}}
	  <input type="hidden" name="_method" value="PUT">
	   <a class="button button-primary" style="float: right" 
	     data-navigo href="/author/store">Create</a>
	 {{/create}}
     {{/author}}
    </form>
   </div>
  </div>