  <div class="row">
   <div style="margin-top: 10%">
     <h2>{{title}}</h2>
     <table><thead>
      <tr>
        <th>name</th>
        <th>nationality</th>
        <th>birth</th>
        <th>fields</th></th></tr>
      </thead><tbody>
      {{#author}}
      <td>{{name}}</td>
      <td>{{nationality}}</td>
      <td>{{birth}}</td>
      <td>{{fields}}</td>
      <td>
      <a class="button" href="/author/show/{{id}}" data-navigo>Show</a>
      <a class="button" href="/author/edit/{{id}}" data-navigo>Edit</a>
      <a class="button" href="/author/delete/{{id}}" data-navigo>Erase</a>
      </td>
      </tr>
      {{/author}}</tbody>
     </table>
     <a class="button button-primary" href="/author/create" data-navigo>New</a>
   </div>
  </div>