  <div class="row">
   <div style="margin-top: 10%">
     <h2>{{title}}</h2>
     <table><thead>
      <tr>
        <th>title</th>
        <th>edition</th>
        <th>Email</th>
        <th>copyright</th>
        <th>pages</th></th></tr>
      </thead><tbody>
      {{#Books}}
      <td>{{title}}</td>
      <td>{{edition}}</td>
      <td>{{copyright}}</td>
      <td>{{pages}}</td>
      <td>
      <a class="button" href="/Book/show/{{id}}" data-navigo>Show</a>
      <a class="button" href="/Book/edit/{{id}}" data-navigo>Edit</a>
      <a class="button" href="/Book/delete/{{id}}" data-navigo>Erase</a>
      </td>
      </tr>
      {{/Books}}</tbody>
     </table>
     <a class="button button-primary" href="/Book/create" data-navigo>New</a>
   </div>
  </div>