  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
    <h2>{{title}}</h2>
     {{#publisher}}
     <form>
     <div class="row">
      <div class="six columns">
       <label for="nameInput">Name</label>
       <input class="u-full-width" type="text" 
         {{#show}} readonly {{/show}}
         id="name"  name="name" value="{{name}}">
      </div>
      <div class="six columns">
       <label for="degreeInput">country</label>
       <input class="u-full-width" type="text"
          {{#show}} readonly {{/show}}
          id="country" name="country" value="{{country}}">
      </div>
     </div>
     <div class="row">
      <div class="six columns">
       <label for="emailInput">founded</label>
       <input class="u-full-width" type="email"
          {{#show}} readonly {{/show}}
          id="founded" name="founded" value="{{founded}}">
      </div>
      <div class="six columns">
       <label for="phoneInput">genere</label>
       <input class="u-full-width" type="tel"
         {{#show}} readonly {{/show}}
         id="genere" name="genere" value="{{genere}}">
      </div>
      <a class="button button-primary" href="/publisher"
	    data-navigo>Back</a>
     {{#edit}}
	   <a class="button button-primary" style="float: right" 
	     data-navigo href="/publisher/update/{{id}}">Update</a>
	 {{/edit}}
     {{#create}}
	  <input type="hidden" name="_method" value="PUT">
	   <a class="button button-primary" style="float: right" 
	     data-navigo href="/publisher/store">Create</a>
	 {{/create}}
     {{/publisher}}
    </form>
   </div>
  </div>